@import url(./reset.css);
@mixin box($color: black) {
  border: 1px solid $color;
  box-sizing: border-box;
}
header {
  &.popup-disable {
    z-index: 0;
  }
  width: 100%;
  position: relative;
  .common-header {
    width: 90%;
    height: 100px;
    margin: 0 auto;
    align-items: center;
    .logo {
      height: 100%;
      float: left;
      display: flex;
      align-items: center;
      width: 80px;
      a {
        width: 100%;
        overflow: hidden;
        display: block;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .gnb {
      width: 720px;
      top: 0%;
      left: 40%;
      transform: translateX(-40%);
      z-index: 10;
      position: relative;
      > ul {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        > li {
          width: 120px;
          &.this > a {
            color: #1f5153;
          }
          > a {
            display: block;
            padding: 0 20px;
            line-height: 100px;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
          }
          .menu-minor {
            position: absolute;
            display: none;
            opacity: 0;
            flex-direction: column;
            transition: 300ms;
            transform: translateX(-15%);
            // 이거 위치 잡고 sub 메뉴일때 sub header 때문에 틀어지는거 잡아야함.
            .minor {
              border: 1px solid #e0e0e0;
              border-bottom: none;
              box-sizing: border-box;
              width: 200px;
              background-color: white;
              transition: 200ms;
              &:last-child {
                border-bottom: 1px solid #e0e0e0;
                box-sizing: border-box;
              }
              a {
                padding: 20px;
                box-sizing: border-box;
                display: block;
                font-size: 10;
              }
              &:hover {
                background-color: #1f5153;
                & a {
                  color: white;
                }
              }
            }
            &.on {
              display: flex;
            }
            &.opct {
              opacity: 1;
            }
          }
        }
      }
    }
    .submenu {
      float: right;
      padding-right: 50px;
      .submenu-list {
        ul {
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: 100px;
          li {
            font-size: 14px;
            font-weight: 500;
            a {
              display: block;
              padding: 5px;
            }
            &.members {
              position: relative;
              padding-right: 18px;
              &::after {
                content: "";
                display: block;
                width: 18px;
                height: 18px;
                background: url("../img/svg/icon-link-black-24-dp.svg") no-repeat center / 12px;
                position: absolute;
                right: 0;
                top: 4px;
              }
            }
            &.subselect {
              select {
                width: 90px;
                height: 22px;
                padding: 0 24px 0 6px;
                font-weight: bold;
                border: none;
                background: url("../img/svg/ic-dropdown-black-12-dp.svg") no-repeat;
                background-position: right 5px center;
                background-size: 10px;
                appearance: none;
                cursor: pointer;
                &:focus {
                  outline: 1px solid #e0e0e0;
                }
              }
            }
          }
        }
      }
      .burger {
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        .burger-wrap {
          width: 36px;
          height: 36px;
          background-color: #1f5153;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 20;
          cursor: pointer;
          right: 5%;
          top: 50px;
          transform: translateY(-50%);
          margin-left: 10px;
          span {
            display: block;
            height: 2px;
            width: 20px;
            background-color: white;
            position: absolute;
            margin: 0 auto;
            &:nth-child(1) {
              transform: translateY(-7px);
              transition: 300ms;
              &.on {
                transform: rotate(45deg);
              }
            }
            &:nth-child(2) {
              transform: translateY(0);
              transition: 300ms;
              &.on {
                transform: scale(0);
              }
            }
            &:nth-child(3) {
              transform: translateY(7px);
              transition: 300ms;
              &.on {
                transform: rotate(-45deg);
              }
            }
          }
        }
        .burger-open {
          max-height: 0;
          transition: max-height 150ms ease-out;
          overflow: hidden;
          padding: 0;
          &.on {
            max-height: 100vh;
            transition: max-height 150ms ease-in;
          }
          width: 100vw;
          top: 0;
          left: 0;
          .burger-header {
            width: 100%;
            height: 100px;
            background-color: white;
            .burger-logo-wrap {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              a {
                img {
                  width: 80px;
                }
              }
            }
          }
          .burger-body {
            padding: 20px 0;
            width: 100%;
            background-color: #1f5153;
            .burger-major {
              width: 90%;
              margin: 0 auto;
              display: flex;
              justify-content: space-around;
              .major-ctg {
                margin-top: 20px;
                color: white;
                font-size: 18px;
                font-weight: bold;
                text-align: center;
                .burger-minor {
                  margin-top: 20px;
                  flex-direction: column;
                  .minor-ctg {
                    text-align: center;
                    a {
                      display: block;
                      padding: 20px;
                      color: white;
                      font-size: 16px;
                      font-weight: normal;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .upbtn {
      position: fixed;
      bottom: 5%;
      right: 5%;
      width: 60px;
      height: 60px;
      background-color: black;
      transition: 300ms;
      transform: scale(0);
      cursor: pointer;
      .upbtn-wrap {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          object-fit: cover;
        }
      }
      &:hover {
        background-color: #1f5153;
      }
      &.on {
        transform: scale(1);
      }
    }
  }
}

footer {
  margin-top: 150px;
  width: 100%;
  .news-letter {
    border-top: 1px solid #e0e0e0;
    width: 100%;
    padding: 48px 0 60px;
    text-align: center;
    .news-letter-title {
      font-size: 28px;
      font-weight: bold;
      font-family: "Noto Sans KR", Sans-serif;
      line-height: 1.7;
      margin-bottom: 6px;
    }
    .news-letter-text {
      font-size: 16px;
      font-family: "Noto Sans KR", Sans-serif;
      .m-only {
        display: none;
      }
    }
    .mail-wrap {
      margin-top: 22px;
      font-size: 0;
      input {
        width: 320px;
        height: 44px;
        padding: 0 24px;
        border: 1px solid #e0e0e0;
        vertical-align: middle;
        font-size: 16px;
        box-sizing: border-box;
      }
      button {
        width: 108px;
        text-align: center;
        padding: 13px 0;
        background-color: #1f5153;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        vertical-align: middle;
        cursor: pointer;
        border: none;
      }
    }
    span {
      display: block;
      margin-top: 10px;
    }
    background: url("../img/svg/nsl_logo.svg") bottom -50% right 10% no-repeat;
  }
  .footer-container {
    padding: 65px 10%;
    background: black;
    div.top-foot {
      height: 54px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      div.tf-left {
        height: 100%;
        a {
          margin-right: 30px;
          img {
            height: 100%;
          }
        }
      }
      div.tf-right {
        display: flex;
        align-items: flex-end;
        div.tf-right-wrap {
          ul {
            li {
              margin-right: 15 px;
              display: inline;

              a {
                color: white;
              }
              &::after {
                content: "";
                display: inline-block;
                background-color: white;
                width: 1px;
                height: 12px;
                margin: 0 20px;
              }
            }
            select {
              border: none;
              padding: 0 20px;
              border-radius: 0;
              appearance: none;
              padding: 0 24px 0 12px;
              font-size: 16px;
              font-family: "Noto Sans KR", sans-serif;
              font-weight: 700;
              color: white;
              option {
                color: black;
                font-size: 14px;
              }
              &:focus {
                outline: none;
              }
              background: url(../img/svg/btn-btn-profile-down.svg) no-repeat;
              background-size: 10px;
              background-position: right;
            }
          }
        }
      }
    }

    div.mid-foot {
      display: flex;
      justify-content: space-between;
      div.mf-left {
        p {
          font-size: 16px;
          line-height: 1.8;
          color: gray;
        }
      }
      div.mf-right {
        display: flex;
        align-items: flex-end;
        div.sns {
          a {
            img {
              margin-left: 15px;
            }
          }
        }
      }
    }

    div.bot-foot {
      p {
        color: gray;
        font-weight: bold;
      }

      &::before {
        content: "";
        display: block;
        border-top: 1px solid gray;
        margin: 30px 0;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .submenu-list {
    display: none;
  }
  .tf-left {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  header {
    .common-header {
      height: 50px;
      .logo {
        a {
          width: 50%;
        }
      }
      .gnb {
        display: none;
      }
      .submenu {
        .burger {
          .burger-wrap {
            top: 25px;
            background-color: transparent;
            span {
              background-color: black;
            }
          }
          // 버거 오픈메뉴 수정해야함
          .burger-wrap {
            width: 36px;
            height: 36px;
            background-color: transparent;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 20;
            cursor: pointer;
            right: 5%;
            top: 25px;
            transform: translateY(-50%);
            margin-left: 10px;
            span {
              display: block;
              height: 2px;
              width: 20px;
              background-color: black;
              position: absolute;
              margin: 0 auto;
              &:nth-child(1) {
                transform: translateY(-7px);
                transition: 300ms;
                &.on {
                  transform: rotate(45deg);
                }
              }
              &:nth-child(2) {
                transform: translateY(0);
                transition: 300ms;
                &.on {
                  transform: scale(0);
                }
              }
              &:nth-child(3) {
                transform: translateY(7px);
                transition: 300ms;
                &.on {
                  transform: rotate(-45deg);
                }
              }
            }
          }
          .burger-open {
            max-height: 0;
            transition: max-height 150ms ease-out;
            overflow: hidden;
            padding: 0;
            &.on {
              max-height: 100vh;
              transition: max-height 150ms ease-in;
            }
            width: 100vw;
            top: 0;
            left: 0;
            .burger-header {
              width: 100%;
              height: 50px;
              background-color: white;
              .burger-logo-wrap {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                  img {
                    width: 40px;
                  }
                }
              }
            }
            .burger-body {
              padding: 10px 0;
              width: 100%;
              .burger-major {
                .major-ctg {
                  margin-top: 10px;
                  font-size: 14px;
                  .burger-minor {
                    .minor-ctg {
                      a {
                        padding: 10px;
                        font-size: 12px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  footer {
    margin-top: 100px;
    div.footer-container {
      div.top-foot {
        div.tf-right {
          margin: 0 auto;
          div.tf-right-wrap {
            ul {
              li {
                &:nth-child(4)::after {
                  display: none;
                }
              }
              select {
                display: block;
                padding: 10px;
                margin: 20px auto 0;
                font-size: 14px;
                font-weight: 100;
                border: 1px solid white;
                background-position: right 10px center;
              }
            }
          }
        }
      }
      div.mid-foot {
        display: flex;
        justify-content: center;
        text-align: center;
        div.mf-right {
          display: none;
        }
      }
      div.bot-foot {
        p {
          text-align: center;
        }
      }
    }
  }
}

// 버거 대충 처리는 했는데 나중에 마크업 새로 해야할듯, minor category 클릭해도 부모인 major category 클릭이벤트가 발생
@media screen and (max-width: 768px) {
  header {
    .common-header {
      .submenu {
        .burger {
          .burger-open {
            max-height: 0;
            transition: max-height 150ms ease-out;
            overflow: hidden;
            padding: 0;
            &.on {
              max-height: 100vh;
              transition: max-height 150ms ease-in;
            }
            width: 100vw;
            top: 0;
            left: 0;
            .burger-body {
              padding: 20px 0;
              width: 100%;
              height: 100vh;
              background-color: white;
              .burger-major {
                width: 100%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                position: relative;
                .major-ctg {
                  margin: 0;
                  padding: 30px 0 30px 30px;
                  color: black;
                  font-size: 18px;
                  font-weight: bold;
                  text-align: left;
                  border-bottom: 1px solid #e0e0e0;
                  box-sizing: border-box;
                  cursor: pointer;
                  &:first-child {
                    border-top: 1px solid #e0e0e0;
                    box-sizing: border-box;
                  }
                  .burger-minor {
                    width: 90%;
                    margin-top: 20px;
                    flex-direction: column;
                    display: none;
                    .minor-ctg {
                      text-align: left;
                      a {
                        display: block;
                        padding: 20px;
                        color: black;
                        font-size: 16px;
                        font-weight: normal;
                        background: #f8f9fa;
                      }
                    }
                  }
                  &.minor-open .burger-minor {
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
    }
    .upbtn {
      display: none;
    }
  }
  footer {
    margin-top: 50px;
    .news-letter {
      border-top: 1px solid #e0e0e0;
      width: 100%;
      padding: 48px 0 60px;
      text-align: center;
      .news-letter-title {
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 4px;
      }
      .news-letter-text {
        font-size: 14px;
      }
      .mail-wrap {
        margin-top: 22px;
        font-size: 0;
        input {
          width: 240px;
          height: 44px;
          padding: 0 24px;
          border: 1px solid #e0e0e0;
          vertical-align: middle;
          font-size: 16px;
          box-sizing: border-box;
        }
        button {
          width: 80px;
          text-align: center;
          padding: 13px 0;
          background-color: #1f5153;
          color: #fff;
          font-size: 14px;
          font-weight: bold;
          vertical-align: middle;
          cursor: pointer;
          border: none;
        }
      }
      span {
        display: block;
        margin-top: 10px;
        font-size: 12px;
        word-break: keep-all;
      }
      background: url("../img/svg/nsl_logo.svg") bottom -50% right 10% no-repeat;
    }
    div.footer-container {
      width: 100%;
      padding: 65px 0;
      div.top-foot {
        div.tf-right {
          margin: 0 auto;
          div.tf-right-wrap {
            ul {
              width: 100%;
              li {
                font-size: 12px;
                &::after {
                  height: 8px;
                  margin: 0 3px 0 6px;
                }
                &:nth-child(4)::after {
                  display: none;
                }
              }
              select {
                display: block;
                padding: 5px;
                margin: 20px auto 0;
                font-size: 12px;
                font-weight: 100;
                border: 1px solid white;
                background-position: right 10px center;
              }
            }
          }
        }
      }
      div.mid-foot {
        display: flex;
        justify-content: center;
        text-align: center;
        div.mf-right {
          display: none;
        }
        div.mf-left {
          padding: 0 5px;
          p {
            font-size: 10px;
          }
        }
      }
      div.bot-foot {
        p {
          font-size: 12px;
          text-align: center;
        }
      }
    }
  }
}
