@import url(./common.css);
@mixin box($color: black) {
  border: 1px solid $color;
  box-sizing: border-box;
}

.main-inner {
  width: 80%;
  margin: 0 auto;
}
.first-section {
  .visual-container {
    width: 90%;
    margin: 0 auto;
    .visual-wrap {
      width: 100%;
      padding-top: 50%;
      overflow: hidden;
      position: relative;
      .mobile-only {
        // 모바일 기준으로 이미지 띄우는거 작업해야함
        display: none;
      }
      .pc-only {
        display: block;
        width: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        position: absolute;
      }
    }
    .visual-time {
      display: flex;
      div {
        height: 50px;
        display: flex;
        align-items: center;
        &:nth-child(1) {
          width: 180px;
          background-color: #1f5153;
          color: white;
          justify-content: center;
          img {
            padding-right: 10px;
          }
        }
        &:nth-child(2) {
          flex-grow: 1;
          padding-left: 20px;
          // 모바일일때
          /* flex-direction: column;
          align-items: flex-start; */
          b {
            font-weight: 500;
          }
          i {
            font-style: normal;
            padding: 0 15px;
            font-size: 10px;
            display: inline-block;
            color: #c0c0c0;
          }
        }
        &:nth-child(3) {
          a {
            height: 100%;
            display: flex;
            width: 180px;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            color: #1f5153;
            img {
              width: 24px;
              padding-right: 10px;
            }
          }
        }
      }
    }
  }
}
.main-notice {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;

  height: 70px;
  margin: 80px 0 70px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  div {
    display: flex;
    align-items: center;
    height: 100%;
    &:nth-child(1) {
      width: 150px;
      padding-left: 30px;
      img {
        padding-right: 10px;
      }
      &::after {
        content: "";
        display: block;
        width: 1px;
        height: 20px;
        margin-left: 30px;
        background-color: #e0e0e0;
      }
    }
    &:nth-child(2) {
      width: calc(100% - 340px);
      display: block;
      .notice-text-wrap {
        width: 100%;
        padding-left: 20px;
        display: flex;
        p {
          vertical-align: baseline;
          font-weight: bold;
          &:nth-child(1) {
            width: 100px;
            color: #999999;
            font-family: gotham;
          }
          &:nth-child(2) {
            font-size: 18px;
          }
        }
        &::after {
          display: none;
        }
      }
      &.slideTransition {
        transition: 300ms;
      }
    }
    &:nth-child(3) {
      a {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 20px;
        img {
          width: 24px;
          padding-left: 10px;
          transition: 300ms;
        }

        &:hover img {
          transform: translateX(10px);
        }
      }
    }
  }
}
.second-section {
  white-space: nowrap;
  position: relative;
  overflow: visible;
  //한쪽만 overflow: hidden을 만드는법은 모르겠음 그냥 가리개 하나 만들어서 덮음
  .news-hide-block {
    z-index: 2;
    width: 11%;
    height: 100%;
    background: white;
    display: block;
    position: absolute;
    left: -12.5%;
  }
  .first-parallax {
    position: absolute;
    width: 1542px;
    height: 174px;
    z-index: -1;
    background: url("../img/bgtext/img-typo-01.svg") no-repeat;
    bottom: 0;
  }
  .news-title {
    position: relative;
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 40px;
      font-weight: bold;
      letter-spacing: 5px;
    }
    .btn-wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      div::after {
        display: none;
      }
      div {
        width: 56px;
        height: 56px;
        img {
          transition: 300ms;
        }
      }
      .swiper-button-next {
        border: 1px solid #1f5153;
        box-sizing: border-box;
        right: 64px;
        transition: 300ms;
        background: transparent url("../img/svg/ic-angle-left-black-24-dp.svg") 24px no-repeat;
        &:hover {
          background: #1f5153 url("../img/svg/ic-angle-left-white-24-dp.svg") 24px no-repeat;
        }
      }
      .swiper-button-prev {
        border: 1px solid #1f5153;
        box-sizing: border-box;
        left: auto;
        right: 0;
        transition: 300ms;
        background: transparent url("../img/svg/ic-angle-right-black-24-dp.svg") 24px no-repeat;
        &:hover {
          background: #1f5153 url("../img/svg/ic-angle-right-white-24-dp.svg") 24px no-repeat;
        }
      }
    }
  }
  .swiper-wrapper {
    .swiper-slide {
      a {
        display: block;
        .news-imgwrap {
          position: relative;
          width: 100%;
          overflow: hidden;
          img {
            width: 100%;
            object-fit: cover;
            transition: 400ms;
          }
          .badge {
            display: block;
            position: absolute;
            width: 78px;
            padding: 3px 0 2px;
            border: 2px solid #1f5153;
            box-sizing: border-box;
            transition: 400ms;
            font-size: 13px;
            font-weight: bold;
            line-height: 1.4;
            text-align: center;
            color: #1f5153;
            background-color: #fff;
            left: 0;
            top: 0;
          }
          .hide-more {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            width: 100%;
            height: 100%;
            span {
              display: flex;
              justify-content: center;
              align-items: center;
              background: #1f5153;
              color: white;
              font-size: 14px;
              font-weight: 500;
              padding: 14px 33px;
              transition: 400ms;
              opacity: 0;
            }
          }
        }
        .news-textwrap {
          margin-top: 20px;
          span {
            display: flex;
            justify-content: left;
            &:nth-child(1) {
              font-weight: 500;
              margin-bottom: 10px;
              font-family: "Gotham", sans-serif;
              font-weight: bold;
              font-size: 14px;
              color: #666;
            }
            &:nth-child(2) {
              display: block;
              font-size: 21px;
              font-weight: 500;
              line-height: 1.2;
              height: 2.4em;
              overflow: hidden;
              text-overflow: ellipsis;
              padding: 0;
            }
          }
        }
        &:hover .news-imgwrap .badge {
          filter: brightness(0.5);
        }
        &:hover .news-imgwrap img {
          transform: scale(1.1);
          filter: brightness(0.5);
        }
        &:hover .news-imgwrap .hide-more span {
          opacity: 1;
        }
      }
    }
  }
}
.third-section {
  margin-top: 150px;
  padding-bottom: 150px;
  white-space: nowrap;
  position: relative;
  .second-parallax {
    position: absolute;
    width: 1613px;
    height: 222px;
    z-index: -1;
    background: url("../img/bgtext/img-typo-02.svg") no-repeat;
    bottom: 0;
  }
  > h2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 5px;
    padding-bottom: 50px;
    border-bottom: 2px solid black;
  }
  .relic-container {
    width: 100%;
    margin-top: 50px;
    .grid-item {
      width: 100%;
      background: #f8f9fa;
      a {
        display: block;
        figure {
          .img-wrap {
            overflow: hidden;
            position: relative;
            span {
              width: 110px;
              position: absolute;
              padding: 10px 20px;
              background: #1f5153;
              color: white;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              opacity: 0;
              transition: 400ms;
              z-index: 2;
            }
            img {
              width: 100%;
              object-fit: cover;
              transition: 400ms;
            }
          }
          figcaption {
            p {
              font-size: 24px;
            }
            span {
              font-size: 16px;
            }
          }
        }
      }
      &:hover a figure .img-wrap img {
        filter: brightness(0.5);
        transform: scale(1.2);
      }
      &:hover a figure .img-wrap span {
        opacity: 1;
      }
    }
    .grid-sizer,
    .grid-item {
      float: left;
      width: calc(25% - 20px);
      margin: 20px 10px 0;
    }
  }
}
.fourth-section {
  width: 100%;
  h4 {
    font-size: 0;
  }
  .short-cut-container {
    display: flex;
    .short-cut-wrapper {
      width: 33.33%;
      a {
        width: 100%;
        position: relative;
        .short-cut-imgwrap {
          width: 100%;
          display: block;
          overflow: hidden;
          img {
            width: 100%;
            display: block;
            object-fit: cover;
            filter: brightness(0.4);
            transition: 500ms;
            transform: scale(1.01);
          }
        }
        .short-cut-textwrap {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          p {
            color: white;
            &:nth-child(1) {
              font-size: 32px;
              margin-bottom: 24px;
              font-weight: bold;
            }
            &:nth-child(2) {
              font-size: 16px;
              margin-bottom: 24px;
            }
          }
          img {
            width: 20px;
          }
        }
      }
      &:hover .short-cut-imgwrap img {
        transform: scale(1.1);
      }
    }
  }
}

// index만 footer margin-top이 없음 정확히는 subpage 컨텐츠에 margin-bottom이 있음 이상한사이트
footer {
  margin-top: 0px;
}

@media screen and (max-width: 1400px) {
  main {
    .first-section {
      .visual-container {
        .visual-time {
          div {
            height: 80px;
            &:nth-child(2) {
              flex-direction: column;
              flex-grow: 1;
              padding-left: 20px;
              align-items: flex-start;
              justify-content: center;
              p {
                line-height: 2;
              }
              i {
                display: none;
              }
            }
          }
        }
      }
    }
    .fourth-section {
      .short-cut-container {
        .short-cut-wrapper {
          a {
            .short-cut-textwrap {
              width: 100%;
              p {
                &:nth-child(1) {
                  font-size: 24px;
                }
              }
              img {
                width: 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  main {
    .first-section {
      .visual-container {
        .visual-time {
          div {
            height: 60px;
            &:nth-child(1) {
              width: 140px;
              font-size: 14px;
              img {
                width: 14px;
              }
            }
            &:nth-child(2) {
              p {
                font-size: 14px;
                line-height: 1.5;
              }
            }
          }
        }
      }
    }
    .main-inner {
      width: 90%;
    }
    .third-section {
      .relic-container {
        .grid-sizer,
        .grid-item {
          float: left;
          width: calc(33% - 20px);
        }
      }
    }
    .fourth-section {
      width: 100%;
      .short-cut-container {
        display: flex;
        flex-direction: column;
        .short-cut-wrapper {
          width: 100%;
          a {
            width: 100%;
            position: relative;
            .short-cut-imgwrap {
              width: 100%;
              height: 150px;
            }
            .short-cut-textwrap {
              p {
                &:nth-child(1) {
                  font-size: 24px;
                  margin-bottom: 20px;
                }
                &:nth-child(2) {
                  margin-bottom: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  main {
    .first-section {
      .visual-container {
        width: 100%;
        .visual-wrap {
          width: 100%;
          padding: 0;
          overflow: hidden;
          .mobile-only {
            display: block;
            width: 100%;
            padding: 0;
            margin: 0;
            height: calc(100vh - 100px);
            object-fit: cover;
          }
          .pc-only {
            display: none;
          }
        }
        .visual-time {
          display: flex;
          div {
            height: 50px;
            display: flex;
            align-items: center;
            &:nth-child(1) {
              width: 60px;
              background-color: #1f5153;
              color: white;
              font-size: 12px;
              word-break: keep-all;
              text-align: center;
              img {
                display: none;
              }
            }
            &:nth-child(2) {
              padding-left: 5px;
              p {
                font-size: 12px;
              }
              b {
                font-weight: 500;
              }
            }
            &:nth-child(3) {
              display: none;
            }
          }
        }
      }
    }
    .main-notice {
      display: none;
    }
    .second-section {
      .news-title {
        h2 {
          font-size: 32px;
        }
        .btn-wrapper {
          .swiper-button-next {
            display: none;
          }
          .swiper-button-prev {
            display: none;
          }
        }
      }
    }
    .third-section {
      > h2 {
        font-size: 32px;
      }
      .relic-container {
        .grid-sizer,
        .grid-item {
          float: left;
          width: calc(50% - 20px);
          margin: 20px 10px 0;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  main {
    .third-section {
      .relic-container {
        .grid-sizer,
        .grid-item {
          float: left;
          width: calc(100%);
          margin: 20px 0 0;
        }
      }
    }
  }
}
